**/.idea/
**/*.pyc
**/__pycache__/
new_three_board/new_three_board/spiders/com_code.json
**/*.log
!Spiders/CJOAbbrFullSpider/*.log
Spiders/CJOAbbrFullSpider/CJOAbbrFullSpider.log
Spiders/CJOAbbrFullSpider/CJOAllCompanyListSpider.log
Spiders/CJOAbbrFullSpider/CJOAllCompanySpider.log
demo/*.png
**/*.png
